@media (max-width: 1050px){
	div.brief{
  padding:50px 0 0 0 ;
}
header{
	background-size: 100% 65%, auto auto;
}
header div.location {
  font-size: 16px;
}
header div.contact{
  font-size:16px;
}
	section.review{
	background-color: white;
	position:relative;
  display:grid;
  grid-template-rows: 2fr 1fr;
  width:auto;
  border-radius: 5px;
  background: unset;
  box-shadow: -11px 8px 29px -13px #000000;
  height:750px;
  padding:0;
  margin:0;
	}
	div.photo{
  float:right;
  background-image: url(/images/man.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%, auto auto;
  background-position:top;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 0px;
  width:100%;
  height:100%;
}
section.provide{
	  height:30%;
	  margin-top:-300px;
}
  div.servises{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding:50px 0 0 0;
}

section.form{
	margin-top:100px;
}
div.desc{

  margin-top:50px;

}
}
@media (max-width: 800px){

header{
	background-size: 150% 65%, auto auto;
}
@media(max-width:600px){
	h1{
		font-size: 25px;
	}
header{
width:100%;
height:35%;
 background-size: 125% 75%, auto auto;
  display: grid;
  grid-template-columns: 1fr 1fr ;


}
div.brief{
	width:150px;
}

header div.sides{
	height:200px;
	align-items: right;
	float:right;
}
header div.sides{
  display:grid;
  grid-template-rows: 1fr 1fr;
}
.sides div{
	height:20px;
}
header div.contact{
  padding: 15px 0  0 0;
}
header div.location{
	padding-left: 0;
}
	section.review{
  grid-template-rows: 1fr 1fr;
  background:unset;
} 
div.desc{
  width:100%;
  padding: 0;
  margin:0;
  text-align: center;
}
div.contact{
	width:100%;
  padding: 0;
  margin:0;
}
section.provide{
	height:auto;
}
section.form{
	display:table;
}
div.all{
	display:grid;
	grid-template-rows: 1fr 1fr;
	width:100%;
	height: 200px;
} 
  div.servises{
  display:table-row-group;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  padding:10px 0 0 0;
}
footer .location{
	padding:0;
}
footer .contact{
	padding:0;
}
footer{
	height:50px;
}
}
@media(max-width:400px){
	header{
		height:30%;
		background-size: 150% 90%, auto auto;
	}
}
