@media (max-width: 1050px){
header{
	background-size: 100% 100%, auto auto;
}
header div.contact {
  font-size: 16px;
}
	section.review{
	background-color: white;
	position:relative;
  display:flex;
  width:auto;
  border-radius: 5px;
  background: unset;
  box-shadow: -11px 8px 29px -13px #000000;
  height:400px;
  padding:0;
  margin:0;
	}
	div.photo{
  background:unset;
}
section.provide{
	  height:100%;
    background-size: 75% 75%, auto auto;
  }
  div.servises{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding:50px 0 0 0;
}
}
@media (max-width: 800px){
section.form{
  display:flex;
  flex-direction: column;
}
.provide{
  background:unset;
}
.about{
  width:100%;
}
header{
	background-size: 200% 100%, auto auto;
}
@media(max-width:600px){
	h1{
		font-size: 25px;
	}
header{
 background-size: 175% 100%, auto auto;
}
header .container{
  display:flex;
  flex-direction: column;
}
div.brief{
	width:150px;
}
	section.review{
  grid-template-rows: 1fr 1fr;
  background:unset;
} 
.desc h1{

  text-align: center;
}
  div.servises{
  display:table-row-group;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  padding:10px 0 0 0;
}
.form{
  margin:0;
  padding:10px 5% 10px 5%;
}
}
@media(max-width:400px){
	header{
		background-size: 300% 350%, auto auto;
    height:100%;
	}
  .form input{
  width: 175px;
}
}
